body {
	padding-top: 30px;
	color: black;
}
	
p {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

.round-img {
  border-radius: 50%;
}

.feature {
	background-color: #ef9d10; /*Light orange*/
	color: #0E2229; /*Main text*/
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 10px;
    background-color: #eee; /*Light grey*/
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    justify-content: space-evenly;
}
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.gray-text {
  color: gray;
}

.navy-text {
  color: #0E2229;
}

.coolgray-text {
  color: #6b7b8c;
}

.img-rounded2 {
  border-radius: 24px;
}

.img-circled {
  border-radius: 300px;
}

.Centered Image {
transform: translateX(400px);
}

a:visited {
  color: #00479C; /*dark blue*/ 
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #5A7392; /*greyish blue*/
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ef9d10; /*orange*/
  background-color: transparent;
  text-decoration: underline;
}


.PageTurn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 26px;
}

.PageTurn:hover {
  background-color: #bebebe;
  color: black;
}

.previous {
  background-color: lightgrey;
  color: black;
}

.next {
  background-color: lightgrey;
  color: black;
}

.round {
  border-radius: 50%;
}

.custombutton {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: lightgrey;
  border: none;
  border-radius: 5% ;
}
.custombutton:hover {
  background: #9C9C9C
;
}

.custombutton2 {
  margin-top: 10px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 15px;
  background: #eee;
  border: none;
  border-radius: 5%;
}
.custombutton2:hover {
  background: #9C9C9C;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #DA9A00;
  background-color: #FFF6E0;
  border-radius: 4px;
}

.language-arduino {
  font-size: 18px;
}

.language-html {
  font-size: 18px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron2 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.jumbotron2 h1,
.jumbotron2 .h1 {
  color: inherit;
}

.jumbotron2 p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.jumbotron2 > hr {
  border-top-color: #d5d5d5;
}

.container .jumbotron2,
.container-fluid .jumbotron2 {
  border-radius: 6px;
}

.jumbotron2 .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .jumbotron2 {
    padding-top: 10px;
    padding-bottom: 48px;
  }

  .container .jumbotron2,
  .container-fluid .jumbotron2 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .jumbotron2 h1,
  .jumbotron2 .h1 {
    font-size: 36px;
  }
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  background-color: #ef9d10;
}

.page-header2 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #d6d6d6;
}
